<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h2>Environment variables</h2>
<ul>
  <li>MY_VAR: <%= ENV['MY_VAR'] %></li>
  <li>MY_VAR2: <%= ENV['MY_VAR2'] %></li>
  <li>MY_VAR3: <%= ENV['MY_VAR3'] %></li>
</ul>
<h2>Credential values</h2>
<ul>
  <li>my_secret_val1: <%= Rails.application.credentials.my_secret_val1 %></li>
  <li>my_secret_val2: <%= Rails.application.credentials.my_secret_val2 %></li>
</ul>
<p><a href="https://github.com/kaosf/env-var-heroku">GitHub</a></p>
<p><a href="http://qiita.com/items/a19f65628bdc213fc8f5">Qiita</a></p>
<h2>Encrypted master key</h2>
<p id="masterkey" style="display: inline">U2FsdGVkX18+LcvQrdu2nUFygMoSaVXKWFpOWjj0LlUp9TfL1ydydkbqPb0qKZzfnEupBysfwvndwcYpm4iCyg==</p>
<button id="masterkeybutton">Decrypt</button>
<%= javascript_pack_tag 'home' %>
